POSTGRES_DB=cash_flow
POSTGRES_USER=cash_flow_user
POSTGRES_PASSWORD=cash_flow_password
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=cash_flow_user
RABBITMQ_DEFAULT_PASS=cash_flow_password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
