POSTGRES_DB=cash_flow
POSTGRES_USER=cash_flow_user
POSTGRES_PASSWORD=cash_flow_password
POSTGRES_PORT=5432
POSTGRES_CONNECTION_STRING=Host=localhost;Port=5432;Database=cash_flow;Username=cash_flow_user;Password=cash_flow_password;GSS Encryption Mode=Disable
ADMINER_PORT=8080
ENTRIES_API_PORT=5099
CONSOLIDATION_API_PORT=5100
API_KEY=cash_flow_local_api_key

REDIS_PORT=6379
REDIS_PASSWORD=cash_flow_redis_password
REDIS_CONNECTION_STRING=localhost:6379,password=cash_flow_redis_password,abortConnect=false
REDIS_DAILY_BALANCE_TTL_MINUTES=15
REDIS_COMMANDER_PORT=8081
REDIS_COMMANDER_USER=cash_flow_user
REDIS_COMMANDER_PASSWORD=cash_flow_password

OUTBOX_BATCH_SIZE=20
OUTBOX_MAX_RETRY_COUNT=5
OUTBOX_RETRY_DELAY_SECONDS=30
OUTBOX_PUBLISH_INTERVAL_SECONDS=5

RABBITMQ_DEFAULT_USER=cash_flow_user
RABBITMQ_DEFAULT_PASS=cash_flow_password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_EXCHANGE=cash-flow.events
RABBITMQ_ENTRY_CREATED_QUEUE=cash-flow.entry-created
RABBITMQ_ENTRY_CREATED_ROUTING_KEY=entry.created
